{% extends 'layout.html' %}

{% load static %}

{% block customCSS %}
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/orders.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="position-fixed bottom-0 end-0 m-3 z-3">
        <button type="button" class="btn btn-success d-flex justify-content-center align-items-center py-2" id="showOrderModal">
            <i class="ti ti-clipboard-text fs-5 d-block"></i>
        </button>
    </div>

    <div class="container">
        <table class="table table-bordered" id="ordersTable">
            <thead>
                <tr>
                    <th class="text-center"><i class="ti ti-info-circle-filled fs-3"></i></th>
                    <th scope="col">Numero de orden</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="modal fade" id="orderModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" x-data="{ showAddress: false, showEnvelope: false, isLoading: false }">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-black text-white">
                    <h1 class="modal-title fs-5">Nueva orden</h1>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="position-relative">
                        <form id="orderForm" class="row g-3">
                            <div :class="showAddress ? 'col-md-6' : 'col-md-12'">
                                <div class="form-floating">
                                    <input type="text" class="form-control shadow-none" name="supplier" id="supplierInput" placeholder="">
                                    <label for="supplierInput">Proveedor</label>
                                </div>
                            </div>
                            <div class="col-md-6" x-show="showAddress">
                                <div class="form-floating">
                                    <input type="text" class="form-control shadow-none" name="local_address" id="addressInput" placeholder="">
                                    <label for="addressInput">Direccion del local</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control shadow-none" name="customer" id="customerInput" placeholder="">
                                    <label for="customerInput">Cliente</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control shadow-none" name="phone" id="phoneInput" placeholder="">
                                    <label for="phoneInput">Numero de celular</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select shadow-none py-3" name="province" id="provinceSelect">
                                    <option selected disabled>Provincia</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select shadow-none py-3" name="locality" id="localitySelect" disabled>
                                    <option selected disabled>Localidad</option>
                                </select>
                            </div>
                            <div class="col-12" x-show="showEnvelope">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-bg-success">
                                        <i class="ti ti-currency-dollar fs-5"></i>
                                    </span>
                                    <div class="form-floating">
                                        <input type="text" class="form-control shadow-none" id="envelopeInput" placeholder="">
                                        <input type="hidden" name="envelope_amount" id="envelopeInputValue">
                                        <label for="envelopeInput">Importe de sobre</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-switch">
                                    <input class="form-check-input shadow-none" type="checkbox" role="switch" name="package_pickup" id="pickupCheckbox" x-model="showAddress">
                                    <label class="form-check-label fw-semibold" for="pickupCheckbox">Retiro de paquete</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-switch">
                                    <input class="form-check-input shadow-none" type="checkbox" role="switch" name="supplier_payment" id="payCheckbox" x-model="showEnvelope">
                                    <label class="form-check-label fw-semibold" for="payCheckbox">Pago a proveedor</label>
                                </div>
                            </div>
                        </form>
                        
                        <template x-if="isLoading">
                            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-white bg-opacity-75 z-3">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="modal-footer bg-black">
                    <button type="button" class="btn btn-success fw-medium" id="createOrderButton" :disabled="isLoading">Crear orden</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-black text-white">
                    <h1 class="modal-title fs-5">Detalles de la orden</h1>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer bg-black">
                    <button type="button" class="btn btn-success fw-medium" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}