{% extends 'layout.html' %}

{% load static %}

{% block customCSS %}
    <link rel="stylesheet" href="{% static 'css/shipments.css' %}">
{% endblock %}

{% block customJS %}
    <script src="https://cdn.jsdelivr.net/npm/ua-parser-js/dist/ua-parser.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="{% static 'js/shipments.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="container">
        <table class="table table-bordered" id="shipmentsTable">
            <thead>
                <tr>
                    <th class="text-center align-middle"><i class="ti ti-info-circle-filled fs-3"></i></th>
                    <th scope="col">Numero de envio</th>
                    <th scope="col">Remitente</th>
                    <th scope="col">Destinatario</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="d-flex flex-column gap-2 position-fixed bottom-0 end-0 m-3">
        <button type="button" class="btn btn-primary d-flex justify-content-center align-items-center py-2" id="showPrinterModal">
            <i class="ti ti-settings fs-5"></i>
            </button>
        <button type="button" class="btn btn-warning d-flex justify-content-center align-items-center py-2" id="scanQr">
            <i class="ti ti-qrcode fs-5"></i>
        </button>
        <button type="button" class="btn btn-success d-flex justify-content-center align-items-center py-2" id="showShipmentModal">
            <i class="ti ti-package-import fs-5"></i>
        </button>
    </div>

    <div class="modal fade" tabindex="-1" id="shipmentModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" x-data="{ selectedPackageText: '', isLoading: false }">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-black text-white">
                    <h5 class="modal-title">Nuevo envio</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="shipmentForm" class="row g-3">
                        <template x-if="selectedPackageText === 'paqueteria'">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control shadow-none" placeholder="@" name="sender">
                                    <label for="senderInput">Remitente</label>
                                </div>
                            </div>
                        </template>
                        <div :class="selectedPackageText === 'paqueteria' ? 'col-md-6' : 'col-12'">
                            <div class="form-floating">
                                <input type="text" class="form-control shadow-none" placeholder="@" name="recipient">
                                <label for="recipientInput" x-text="selectedPackageText === 'paqueteria' ? 'Destinatario' : 'Pasajero'"></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="number" class="form-control shadow-none" placeholder="@" name="phone" id="phoneInput">
                                <label for="phoneInput">Numero de celular</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select shadow-none py-3" name="province" id="provinceSelect">
                                <option selected disabled>Provincia</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select shadow-none py-3" name="locality" id="localitySelect" disabled>
                                <option selected disabled>Localidad</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select py-3 shadow-none" name="package_type" id="typeSelect"  @change="selectedPackageText = $event.target.options[$event.target.selectedIndex].text.toLowerCase()">
                                <option selected disabled>Tipo de paquete</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select py-3 shadow-none" name="package_amount" id="priceSelect">
                                <option selected disabled>Precio de paquete</option>
                            </select>
                        </div>
                    </form>

                    <template x-if="isLoading">
                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-white bg-opacity-75 z-3">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                        </div>
                    </template>
                </div>
                <div class="modal-footer bg-black">
                    <button type="button" class="btn btn-success" id="createShipmentButton" :disabled="isLoading">Crear envio</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="qrModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Escanear QR</h5>
              <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div id="qr-reader"></div>
                <div class="d-none p-3" id="qrSpinner">
                    <h2 class="fs-4 text-center">Procesando</h2>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="printerModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" 
        x-data="{ isLoading: false, withoutPrinters: true }">
        <div class="modal-dialog modal-dialog-centered"> 
            <div class="modal-content">
                <div class="modal-header bg-black text-white">
                    <h5 class="modal-title">Configuracion de impresora</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select py-3 shadow-none" id="printerSelect" :disabled="withoutPrinters">
                        <option selected disabled>Seleccione una impresora</option>
                    </select>
    
                    <template x-if="isLoading">
                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-white bg-opacity-75 z-3">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                        </div>
                    </template>
                </div>
                <div class="modal-footer bg-black">
                    <button type="button" class="btn btn-success" id="savePrinterButton" :disabled="withoutPrinters">Guardar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}