<nav class="navbar navbar-expand-sm fixed-top py-1" data-bs-theme="dark">
    <div class="container-fluid px-md-5">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'shipments' %}">
            <img src="https://i.postimg.cc/C5QYCjDY/Dise-o-sin-t-tulo-1-removebg-preview.png" height="47" class="d-inline-block">
        </a>
        <button class="navbar-toggler bg-dark text-white px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-menu-2 fs-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav bg-dark text-center ms-auto rounded px-2 mt-2 mt-md-0" x-data="{ currentPath: window.location.pathname }">
                <a class="nav-link fw-medium" :class="{ 'active': currentPath.includes('{% url 'shipments' %}') }" href="{% url 'shipments' %}">Envios</a>
                <a class="nav-link fw-medium" :class="{ 'active': currentPath.includes('{% url 'orders' %}') }" href="{% url 'orders' %}">Ordenes</a>
            </div>
        </div>
    </div>  
</nav>